<section class="w3l-workinghny-form">
  <!-- /form -->
  <div class="workinghny-form-grid">
    <div class="wrapper">
      <div class="logo">
        <h1><span>GSM Hospital</span></h1>
        <h3>- Pegasus Medical System -</h3>
      </div>
      <div class="workinghny-block-grid">
        <div class="workinghny-left-img align-end">
          <img src="assets/images/hospital.png" class="img-responsive" alt="img" />
        </div>
        <div class="form-right-inf">

          <div class="login-form-content">
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="signin-form">
              <div class="one-frm">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" name="email" formControlName="email" placeholder="Enter your email">
                <div style="height: 50px; margin-top: -20px;">
                  <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="ml-1 mt-0 mb-0">
                    <small *ngIf="loginForm.controls['email'].errors?.required" class="text-danger">*This field is mandatory</small>
                    <small *ngIf="loginForm.controls['email'].errors?.email" class="text-danger">*Email form is not valid</small>
                  </div>
                </div>
              </div>
              <div class="one-frm mb-3">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password" name="password"  placeholder="Enter your password">
                <div style="height: 50px; margin-top: -20px;">
                  <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="ml-1 mt-0 mb-0">
                    <small *ngIf="loginForm.controls['password'].errors?.required" class="text-danger">*This field is mandatory</small>
                  </div>
                </div>
              </div>
              <button class="btn btn-style mt-2" [disabled]="!loginForm.valid">Sign In</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- //form -->
  <!-- copyright-->
  <div class="copyright text-center">
    <div class="wrapper">
      <p class="copy-footer-29">© 2021 Pegasus Medical System. All rights reserved | Design by <a
        href="https://github.com/vukovic98/pegasus_ms">DIV®</a></p>
    </div>
  </div>
  <!-- //copyright-->
</section>
