
  <nav id="sidebar" class="h-100">
    <div class="p-4">
      <img src="assets/images/icon.png" class="logo ml-5 pl-4 mb-5" alt="Security">
      <ul class="list-unstyled components mb-5">
        <li>
          <a routerLink="/admin-panel"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <li>
          <a routerLink="/pending-certificates"><span class="fa fa-user mr-3"></span> Certificates pending</a>
        </li>
        <li>
          <a routerLink="/all-certificates"><span class="fa fa-briefcase mr-3"></span> All certificates</a>
        </li>
        <li>
          <a routerLink="/revoke-certificate"><span class="fa fa-sticky-note mr-3"></span> Revoke certificate</a>
        </li>

        <li class="mt-5">
          <a (click)="logout()" ><span class="fa fa-sticky-note mr-3 mt-5"></span> Sign out</a>
        </li>
      </ul>

    </div>
  </nav>
