<div class="wrapper d-flex align-items-stretch">
  <div style="height: 100vh;">
    <app-navigation-bar></app-navigation-bar>
  </div>
  <div class="m-3 w-100">
    <h1 class="mb-4">Existing certificates</h1>
    <div>
      <table class="table table-hover text-center">
        <thead>
        <tr>
          <th scope="col">Serial Num</th>
          <th scope="col">Subject</th>
          <th scope="col">Date issued</th>
          <th scope="col">Valid until</th>
          <th scope="col">Info</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor=" let cert of certificates">
          <td>{{cert.serialNum}}</td>
          <td>{{cert.subject}}</td>
          <td>{{cert.issuedDate}}</td>
          <td>{{cert.validToDate }}</td>
          <td><button mat-raised-button color="primary" (click)="openCertInfo(cert.serialNum)">Certificate</button></td>
          <td><button mat-raised-button color="warn" [disabled]="cert.revoked" routerLink="/revoke-certificate/{{cert.serialNum}}">Revoke</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
