<div class="wrapper d-flex align-items-stretch">
  <div style="height: 100vh;" class="col-md-2 pl-0">
    <app-navigation-bar></app-navigation-bar>
  </div>
  <div class="mt-3 col-md-10">
    <div class="pl-3">
      <h1>Certificate panel</h1>
      <hr/>
      <div *ngIf="!certified">
        <mat-card class="text-white" style="background-color: crimson;">
          <p>You are not certified! Please request for certificate in order to secure your communication.</p>
        </mat-card>
        <div class="m-5 p-5 w-100 h-100 col-md-12">
          <div class="col-md-4 float-left" style="height: 30px;"></div>
          <div class="float-left m-5 col-md-4" style="width: 180px;">
            <img src="assets/images/certificate.png" class="w-100 ml-2" alt="Certificate" title="Certificate" style="width: 150px; height: 150px;"/>
            <button *ngIf="!requested" (click)="requestCertificate()" mat-raised-button color="primary" class="mt-3">Request certificate</button>
            <p *ngIf="requested" class="mt-3">You requested for certificate. Admin will answer shortly!</p>
          </div>
          <div class="col-md-4 float-left"></div>
        </div>
      </div>
      <div *ngIf="certified">
        <mat-card class="text-white" style="background-color: green;">
          <p>You are certified! Your certificate helps you get more secure communication.</p>
        </mat-card>
        <div class="m-5 p-5 w-100 h-100 col-md-12">
          <div class="col-md-4 float-left" style="height: 30px;"></div>
          <div class="float-left m-5 col-md-4" style="width: 180px;">

          </div>
          <div class="col-md-4 float-left"></div>
        </div>
      </div>
    </div>
  </div>
</div>
