
  <nav id="sidebar" class="h-100">
    <div class="p-4">
      <img src="assets/images/medicine.png" class="logo ml-4 pt-2  mb-5" alt="Security" style="width: 150px; height: 130px;">
      <ul class="list-unstyled components mb-5">
        <li>
          <mat-icon class="float-left mt-2">home</mat-icon>
          <a routerLink="/admin-panel"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <li>
          <mat-icon class="float-left mt-2">description</mat-icon>
          <a routerLink="/certificate"><span class="fa fa-user mr-3"></span> Certificate</a>
        </li>
        <li *ngIf="role==='ROLE_DOCTOR'">
          <mat-icon class="float-left mt-2"> person </mat-icon>
          <a routerLink="/patient"><span class="fa fa-user mr-3"></span> Patients</a>
        </li>
        <li *ngIf="role==='ROLE_DOCTOR'">
          <mat-icon class="float-left mt-2">router</mat-icon>
          <a><span class="fa fa-home mr-3"></span>Device data</a>
        </li>
        <li>
          <a routerLink="/blood-data"><span class="fa fa-user mr-5"></span> Blood device</a>
        </li>
        <li>
          <a routerLink="/heart-data"><span class="fa fa-user mr-5"></span> Heart device</a>
        </li>
        <li>
          <a routerLink="/neuro-data"><span class="fa fa-user mr-5"></span> Neurological device</a>
        </li>
        <li>
          <mat-icon class="float-left mt-2"> alarm</mat-icon>
          <a routerLink="/alarms"><span class="fas fa-bell mr-3"></span> Alarms</a>
        </li>
        <li>
          <a routerLink="/create-alarms"><span class="fa fa-user mr-5"></span> Create alarm</a>
        </li>
        <li class="mt-5" (click)="logout()" style="cursor:pointer;">
          <mat-icon class="float-left mt-2">close</mat-icon>
          <a ><span class="fa fa-sticky-note mr-3 mt-5"></span> Sign out</a>
        </li>
      </ul>

    </div>
  </nav>
