<div class="card mt-1" style="border:none;">
  <div class="card-body text-white col-md-12 row" style="background-color: lightcoral; border-radius: 1rem;">
    <div class="col-md-3">
      {{message.date ? message.date.split("T")[0] : ''}} {{message.date ? message.date.split("T")[1].split(".")[0] : ''}}
    </div>
    <div class="col-md-3">
      {{message.ipAddress ? message.ipAddress : ''}}
    </div>
    <div class="col-md-3">
      ID: {{message.id ? message.id : ''}}
    </div>
    <div class="col-md-3">
      {{message.alarmType ? message.alarmType : ''}}
    </div>
  </div>
</div>
