<mat-dialog-content>
  <table class="table table-hover">
    <thead>
    <tr class='table-heading'>
      <td class='heading-color' scope="col" colspan="2"><h5>{{patient.name}}'s Medical Record </h5></td>
    </tr>
    </thead>
    <tr>
      <td><b>Patient's ID</b></td>
      <td>{{patient.id}}</td>
    </tr>
    <tr>
      <td><b>Name</b></td>
      <td>{{patient.name}}</td>
    </tr>
    <tr>
      <td><b>Gender</b></td>
      <td>{{patient.gender}}</td>
    </tr>
    <tr>
      <td><b>Current age</b></td>
      <td>{{patient.currentAge}} years</td>
    </tr>
    <tr>
      <td><b>Birthday</b></td>
      <td>{{patient.birthday}}</td>
    </tr>
    <tr>
      <td><b>Height</b></td>
      <td>{{patient.height}} cm</td>
    </tr>
    <tr>
      <td><b>Weight</b></td>
      <td>{{patient.weight}} kg</td>
    </tr>
    <tr>
      <td><b>Average blood pressure</b></td>
      <td>{{patient.averageBloodPressure}} mmHg</td>
    </tr>
    <tr>
      <td><b>Past medical history</b></td>
      <td>{{patient.pastMedicalRecord}}</td>
    </tr>
  </table>

</mat-dialog-content>
