<div class="wrapper d-flex align-items-stretch">
  <div style="height: 100vh;">
    <app-navigation-bar></app-navigation-bar>
  </div>
  <div class="m-3 w-100">
    <h1 class="mb-4">Revoke certificate</h1>
    <div class="ml-5 mr-5">
      <form [formGroup]="revokeForm" (ngSubmit)="revokeCertificate()">
        <div class="form-group">
          <label for="serialNum">Serial Number</label>
          <input type="text" class="form-control" formControlName="serialNum" name="serialNum" id="serialNum" placeholder="Enter serial number of certificate">
          <div style="height: 20px;">
            <div *ngIf="revokeForm.controls['serialNum'].invalid && revokeForm.controls['serialNum'].touched" class="ml-1 mt-0 mb-0">
              <small *ngIf="revokeForm.controls['serialNum'].errors?.required" class="text-danger">*This field is mandatory</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="reason">Reason</label>
          <textarea class="form-control" name="reason" formControlName="reason" id="reason" rows="3" style="resize: none;" placeholder="Enter reason for revoking certificate"></textarea>
          <div style="height: 20px;">
            <div *ngIf="revokeForm.controls['reason'].invalid && revokeForm.controls['reason'].touched" class="ml-1 mt-0 mb-0">
              <small *ngIf="revokeForm.controls['reason'].errors?.required" class="text-danger">*This field is mandatory</small>
            </div>
          </div>
        </div>
        <div class="text-right">
          <button mat-raised-button color="warn" [disabled]="!revokeForm.valid">Revoke certificate</button>
        </div>
      </form>
    </div>
  </div>
</div>
