<mat-dialog-content>
  <h3>Subject's info</h3>
  <table class="table table-hover">
    <thead>
    </thead>
    <tbody>
    <tr>
      <td class="font-weight-bold">Common Name</td>
      <td>{{data.subjectCN}}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Email</td>
      <td>{{data.subjectEmail}}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Organization Unit</td>
      <td>{{data.subjectOU}}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Organization Name</td>
      <td>{{data.subjectON}}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Locality</td>
      <td>{{data.subjectL}}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">State</td>
      <td>{{data.subjectST}}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Country</td>
      <td>{{data.subjectC}}</td>
    </tr>
    </tbody>
  </table>
</mat-dialog-content>
