<div class="wrapper d-flex align-items-stretch">
  <div style="height: 100vh;">
    <app-navigation-bar></app-navigation-bar>
  </div>
  <div class="m-3 w-100">
    <h1 class="mb-4">Pending certificates</h1>
    <div>
      <table class="table table-hover text-center" *ngIf="requests.length !== 0">
        <thead>
        <tr>
          <th scope="col">Subject</th>
          <th scope="col">Hospital</th>
          <th scope="col">Info</th>
          <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let req of requests">
          <td>{{req.subjectCN}}</td>
          <td>{{req.subjectOU}}</td>
          <td><button mat-raised-button color="primary" (click)="openSubjectsInfo(req)">Subject's info</button></td>
          <td colspan="2">
            <button (click)="accept(req.id)" mat-raised-button color="primary" class="mr-2">Accept</button>
            <button (click)="deny(req.id)" mat-raised-button color="warn">Deny</button>
          </td>
        </tr>

        </tbody>
      </table>
      <h3 *ngIf="requests.length === 0" >There are no pending certificate requests to show.</h3>
    </div>
  </div>
</div>
